body {
  background-color: #CD533B;
  /* background-image: url("images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.container {
  width: 700px;
  margin: 40px auto;
  /* margin-right: auto */
  /* margin-left: auto */
  /* Isso centraliza os elementos da página */
}

.card-beige {
  background-color: #FCF8E8;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(20, 20, 20, 0.1);
  border-radius: 10px;
  margin: 20px 0px;
  text-align: center;
}

#profile {
  border-radius: 20%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #CD533B;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #87A878;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #413F42;
  margin-bottom: 40px;
}

.btn-orange {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  background-color: #CD533B;
  color: #FCF8E8;
  padding: 15px 20px;
  border-radius: 5px;
}

.btn-orange:hover {
  background-color: #FF7B61;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
}

.list-inline i {
  font-size: 40px;
  margin: 0 10px;
  color: #87A878;
}

.list-inline i:hover {
  color: #475657;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
